body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #510c76;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav {
    text-align: center;
}
nav ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 2px solid black;
}



main {
    padding: 20px;
}
#textoIndex{
    display: block;
    text-align: center;
}

footer {
    background-color: #510c76;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"], form input[type="number"], form textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    background-color: #510c76;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #7a05b9;
}

#resultadosBusqueda div, #resultadoBusquedaIndividual div {
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#resultadosBusqueda div p, #resultadoBusquedaIndividual div p {
    margin: 5px 0;
}

#resultadosBusqueda div button, #boton-guardar, #resultadoBusquedaIndividual div button {
    background-color: #510c76;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin-top: 10px;
}

#resultadosBusqueda div button:hover, #boton-guardar:hover, #resultadoBusquedaIndividual div button:hover {
    background-color: #6a06a0;
}

.notificacion {
    color: #510c76;
}
.notificacionHistoriaClinica {
    color: white;
}